html, body {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 12%;
    background-color: #212120;
}

.menu-header {
    display: flex;
    align-items: center;
    margin: 1vh;
    height: 8vh;
    width: calc(100% - 2vh); 
    color: white;
    border-bottom: 1px solid gray;
}

#sign-out{
    margin-top: 54vh;
}

.img{
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.menu-content {
    margin: 1vh;
    width: calc(100% - 2vh); 
    color: lightgrey;
}
.link-nav{
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.icon{
    fill: lightgray;
    width: 30px;
    height: 30px;
}

.icon-text{
    margin-left: 10px;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: lightgray;
}

.link-nav a {
    transition: color 0.3s ease-in-out;
}

.link-nav .icon {
    transition: color 0.3s ease-in-out;
}

.link-nav:hover a {
    color: white;
}

.link-nav:hover .icon {
    fill: white;
}

#selecionado {
    color: #14ad84;
    fill: #14ad84;
}

.seta {
    position: absolute;
    margin-left: 10%;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid #f4f3ef;
}

.main{
    background-color: #f4f3ef;
    width: 88%;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
    height: 8vh;
    width: calc(100% - 2vh); 
    color: gray;
    border-bottom: 1px solid gray;
}

.user{
    display: flex;
    align-items: center;
}

.graficos-cima{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.graficos-baixo{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

#graficoUmidade{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2vh;
}

#graficoReservatorio{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2vh;
}

#graficoTemp{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2vh;
}

.calendario{
    margin: 2vh;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
}

.dias{
    display: grid;
    grid-template-columns: repeat(7,1fr);
}

.dia{
    text-align: center;
    padding: 5px;
    color: gray;
    font-weight: 500;
}

