html, body {
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box{
    width: 50%;
    height: 100%;
    background-color: #212120;
}

.img-box img{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.content-box{
    background-color: #f4f3ef;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box{
    width: 50%;
}

.content-box .form-box .ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .ul li{
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box .ul li:hover{
    background-color: #e4e4e4;
}

.form-box .ul li img{
    width: 40px;
}

.content-box .form-box h2{
    color: #212120;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.content-box .form-box .input-box{
    margin-bottom: 20px;
}

.content-box .form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #212120;
    background-color: white;
    border-radius: 10px;
}

.content-box .form-box .input-box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #212120;
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder{
    color: #a9adb6;
}

.content-box .form-box .input-box input[type=submit]{
    background: #14ad84;
    color: #f4f3ef;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.content-box .form-box .input-box input[type=submit]:hover{
    background: #0f8666;
}

.content-box .form-box .remember{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content-box .form-box .input-box p {
    color: #212120;
}

.content-box .form-box .input-box p a{
    text-decoration: none;
    color: #14ad84;
}

.content-box .form-box .input-box p a:hover{
    color: #0f8666;
}

.content-box .form-box h3{
    color: #a9adb6;
    text-decoration: none;
    margin: 40px 0 15px;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}
